
body{
    padding: 100px;
    background-image: url(nutrição-esportiva.jpg);
    font: normal 15pt arial;

}

header{

    color:white;
    text-align: center;

}

header h1{
    padding:20px;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

section{

    background:rgba(220,220,220, 0.5);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);

}

section div input{
    border-radius:6px;
    
}

#resultado{
    text-align: center;
    padding: 50px;
}

#dados{
    text-align: center;
    
}

footer{
    text-align:center;
    color:rgb(250, 192, 255);
    font-style: italic;
    padding: 30px;
    
}