

body{
    padding: 100px;
    background-image: url(nutrição-esportiva.jpg);
    font: normal 15pt arial;

}

header{

    color:white;
    text-align: center;
    width: 320px;
    padding-left:300px;

}

header h1{
    padding:30px;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius:5px;
}

section{

    background:rgba(220,220,220, 0.5);
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
    text-align: center;
    margin:280px;

}

section div input{
    border-radius:6px;
    
}

section p input{
    border-radius: 10px;
    border: none;
    cursor:pointer;
    padding: 10px;
    background-color:rgb(238, 203, 139)
    
}
section p input:hover{
    background: rgb(238, 184, 85);
}
section p input:hover:active{
    position: relative;
    top:2px;
}

section p {
    padding: 10px;
}


footer{
    width: 320px;
    padding-left: 300px;
}


footer p{
    padding:30px;
    text-align: center;
    color:whitesmoke;
    font-style: italic;
    background:rgba(255,20,147,0.5);
    border-radius: 15px;
    
}

 #resultado{

    text-align: center;
    width: 320px;
    padding-left: 300px;
}

#resultado h2{

    padding:20px;
    background-color:rgba(255,165,0,0.5);
    border-radius:6px;
}

#abaixo{
    width:320px;
    padding-left: 300px;
}

#abaixo p{

    background: rgba(0,0,0,0.5);
    padding:30px;
    text-align: center;
    border-radius:6px;
    color: white;
}

#ideal{
    width: 320px;
    padding-left: 300px;
}

#ideal p{
    background: rgba(0,0,0,0.5);
    padding:30px;
    text-align: center;
    border-radius:6px;
    color: white;
}

#sobrepeso{
    width: 320px;
    padding-left: 300px;
}

#sobrepeso p{
    background: rgba(0,0,0,0.5);
    padding:30px;
    text-align: center;
    border-radius:6px;
    color: white;
}

#obesidade{
    width: 320px;
    padding-left: 300px;
}

#obesidade p{
    background: rgba(0,0,0,0.5);
    padding:30px;
    text-align: center;
    border-radius:6px;
    color: white;
}

#grave{
    width: 320px;
    padding-left: 300px;
}

#grave p{
    background: rgba(0,0,0,0.5);
    padding:30px;
    text-align: center;
    border-radius:6px;
    color: white;
}